* {

    box-sizing: border-box;

}

#men {}

body {
    color: rgb(28, 3, 3);
    overflow-x: hidden;
    margin-left: 0px;
    margin-right: 0px;
}



h1 {
    width: 25%;
}


.menu ul {
    list-style-type: none;
    display: flex;
    padding-left: 20px;
}

.menu li {
    padding-top: 8px;
    font-weight: bold;
    font-size: 30px;
}

#menubar {
    background-color: #003df7;
    height: 80px;
    margin-top: -20px;
    width: 100%;
    overflow: hidden
}

.even {
    margin-left: 20px;
    width: 95%;
    margin-right: 0px;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid white;
}


.odd {
    width: 95%;
    margin-right: 0px;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 2px solid white;
}

.contento {
    margin-left: 35%;
    font-size: 20px;
    width: 65%;
}


.content {
    width: 50%;
    font-size: 20px;
    margin-left: 20px;
}

#contain {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}

.active {
    background-color: #4991c4;
    border: 2px solid #4991c4;
    border-radius: 4px;
    margin-top: 0px;
    font-weight: bold;
    padding-bottom: 5px;
    color: white;
    box-shadow: 1px 1px 1px 1px #c6d1f2;
    cursor: pointer;
}

.activeSelect {
    background-color: #4991c4;
    border: 2px solid #4991c4;
    border-radius: 4px;
    margin-top: 0px;
    font-weight: bold;
    padding-bottom: 5px;
    color: white;
    box-shadow: 1px 1px 1px 1px #c6d1f2;
    cursor: pointer;
}

.notActive {
    margin-top: 0px;
    font-weight: bold;
    border: 2px solid #303d64;
    padding-bottom: 5px;
    background-color: #303d64;
    color: white;
    box-shadow: 1px 1px 1px 1px #c6d1f2;
    cursor: pointer;
    border-radius: 4px;
}

@media only screen and (max-width : 768px) {
    * {
        width: 100%;
    }
}
